


{% extends 'base.html' %} 
{% load static %}
{% block content %}


<div class="parsysPath parsys">




    
    
    <div class="container container-margin-bottom-fixed">

    
    
    
    <span class="link-anchor" id="parsysPath_container"></span>
    
    
    
    
        
    
        
    
        
    
        
    
        
    
    
    
    <div id="container-6fdcea98f5" class="cmp-container cmp-container--white
		 
		     
         cmp-container--gutter-21
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--tablet--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="title title-red title-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_title"></span>



<div class="cmp-title" id="title-5bc44f4ef2">
     <h1 class="cmp-title__text cmp-title__text--level1">
		 
		 
			About Us
		
	</h1>
</div>

    
</div>
<div class="text text-left text-default text-black text-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_text"></span>




<div id="text-38695ce155" class="cmp-text">
     <p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--intro-size-2">{{site.name}}. Logistics for the Connected Age.</span><br></p>     
</div>

    
</div>
<div class="separator separator-type-introduction separator-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_separator"></span>
<div class="cmp-separator" id="separator-a76adf9133">
	<hr class="cmp-separator__horizontal-rule">
</div>

    
</div>
<div class="text text-left text-default text-black text-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_text_1891302637"></span>




<div id="text-fd46e0fa7e" class="cmp-text">
     <p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--intro-size-3">When Adrian Dalsey, Larry Hillblom and Robert Lynn founded {{site.name}} in 1969, they didn’t know they would revolutionize the world of logistics. Today, {{site.name}} is the world’s leading logistics company. Our 600,000 people in over 220 countries and territories work every day to help you cross borders, reach new markets and grow your business. Or simply send a letter to your loved ones.</span></p>     
</div>

    
</div>
<div class="text text-left text-default text-black text-margin-top aem-GridColumn aem-GridColumn--default--12"><span class="link-anchor" id="parsysPath_container_text_1472785926"></span>






    
</div>

    
</div>

    </div>

    
</div>


    
    
    


<span class="link-anchor" id="parsysPath_static_cards"></span>
<div class="c-static-cards component-wide component-margin">
	<div class="c-static-cards--card c-static-cards--card-third">
			 
				
				<span class="c-static-cards--card-text c-static-cards--card-main"><p>594,000</p>
</span>
			    <span class="c-static-cards--card-text c-static-cards--card-bottom"><p>People working at {{site.name}} Group</p>
</span>
		    
			
	</div>

	<div class="c-static-cards--card c-static-cards--card-third">
			 
				
				<span class="c-static-cards--card-text c-static-cards--card-main"><p>Over 220</p>
</span>
			    <span class="c-static-cards--card-text c-static-cards--card-bottom"><p>Countries and territories served</p>
</span>
		    
			
	</div>

	<div class="c-static-cards--card c-static-cards--card-third">
			 
				
				<span class="c-static-cards--card-text c-static-cards--card-main"><p>€ 81,8 billion</p>
</span>
			    <span class="c-static-cards--card-text c-static-cards--card-bottom"><p>Revenue generated in 2023</p>
</span>
		    
			
	</div>
</div>

    
    
    




<span class="link-anchor" id="parsysPath_video"></span>
<div class="c-video l-grid l-grid--left-s l-grid--center-m component-small component-margin" data-advanced-interactions-type="dhl_utf_contentInteraction">
	<div class="l-grid l-grid--w-100pc-s l-grid--w-100pc-m l-grid--center-s l-grid--center-m" itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject">
		 
				
				
         
				
        <div dir="ltr" id="video_video-ab738a0fda" class="l-grid--center-s l-grid--w-100pc-s l-grid--center-m l-grid--w-100pc-m c-video--player" mi24-video-player="" video-id="7SSCvyKexooBMwnz7EpGFL" player-id="2pxV6w3_yqLG3UqhPWd-Ns" config-type="vmpro" flash-path="https://e.video-cdn.net/v2/" api-url="https://d.video-cdn.net/play">
          
            <div id="mi-player-d5921352-95ae-41e8-bb54-10cfa7a13660" mi-html5-player=""   data-eq-pts="0: 0, 1: 768, 2: 1024" data-eq-state="0 1" style="width: 100%; height: 495px;">
    
    
             </div> </div> </div> </div> </div>
                    <div id="mi-poster-d5921352-95ae-41e8-bb54-10cfa7a13660" class="mi-poster mi-poster-full" style="background-image: url(https://asset-out-cdn.video-cdn.net/private/videos/7SSCvyKexooBMwnz7EpGFL/thumbnails/active?quality=1080p&amp;cache-buster=21e770&amp;__token__=exp=1729355580~acl=/private/videos/7SSCvyKexooBMwnz7EpGFL/thumbnails/active*~hmac=17a63176c4f076acc79fa9f1e7be43279a7810aeac5bdf4d003caad2629aed0d&amp;file-name=1489165.18916.1080p.jpeg'%});"></div><div></div><div id="mi-contextmenu-d5921352-95ae-41e8-bb54-10cfa7a13660" class="mi-contextmenu mi-hide"><div> </div></div></div></div>
		
		<script src="{% static 'main/embed.js.download'%}"></script>
	</div>
</div>

    
    
    <div class="experiencefragment" data-xf-path="https://www.dhl.com/content/experience-fragments/dhl/en/core/full_width_teaser/image_right_button/xbu_master_about_us_dhl_group">
  <span class="link-anchor" id="parsysPath_experiencefragment_c"></span>
  <div id="experiencefragment-8f24ef82c2" class="cmp-experiencefragment cmp-experiencefragment--image_right_button">

    



<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="container container-margin-bottom aem-GridColumn aem-GridColumn--default--12">

    
    
    
    <span class="link-anchor" id="root_container"></span>
    
    
    
    
        
    
    
    
    <div id="container-aabc4206a7" class="cmp-container cmp-container--light-grey
		 
		     cmp-container--full-width
         
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="container aem-GridColumn aem-GridColumn--default--12">

    
    
    
    <span class="link-anchor" id="container_container_1838958143"></span>
    <span class="link-anchor" id="root_container_container_1838958143"></span>
    
    
    
        
    
        
    
    
    
    <div id="container-28afabdd79" class="cmp-container cmp-container--light-grey
		 
		     
         
         cmp-container--padding-size-0
         cmp-container--equal-height-desktop
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--tablet--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="container aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0">

    
    
    
    <span class="link-anchor" id="container_1838958143_container_copy"></span>
    <span class="link-anchor" id="container_container_1838958143_container_copy"></span>
    <span class="link-anchor" id="root_container_container_1838958143_container_copy"></span>
    
    
        
    
        
    
        
    
        
    
        
    
        
    
    
    
    <div id="container-6479616484" class="cmp-container cmp-container--light-grey
		 
		 cmp-container--padding-position-top cmp-container--padding-position-bottom  cmp-container--padding-position-right 
         
         cmp-container--padding-size-56
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--6 aem-Grid--tablet--12 aem-Grid--default--6 aem-Grid--phone--12 ">
    
    <div class="title title-left title-black title-margin-none aem-GridColumn--tablet--12 aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--6"><span class="link-anchor" id="container_1838958143_container_copy_title"></span>



<div class="cmp-title" id="title-b402c3ffc3">
     <h2 class="cmp-title__text cmp-title__text--level2">
		 
		 
			{{site.name}} Group
		
	</h2>
</div>

    
</div>
<div class="separator separator-type-introduction separator-margin-top aem-GridColumn--tablet--12 aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--6"><span class="link-anchor" id="container_1838958143_container_copy_separator"></span>
<div class="cmp-separator" id="separator-f16abb2a24">
	<hr class="cmp-separator__horizontal-rule">
</div>

    
</div>
<div class="text text-left text-default text-black text-margin-top aem-GridColumn--tablet--12 aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--6"><span class="link-anchor" id="container_1838958143_container_copy_text_1130968930"></span>




<div id="text-36f44eed6e" class="cmp-text">
     <p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--intro-size-3">{{site.name}}Group is home to two strong brands: {{site.name}} and Deutsche Post. Our international service portfolio includes mail and parcel, express, freight transport, supply chain management, and e-commerce logistics solutions.</span></p>     
</div>

    
</div>
<div class="button button-add-external-link aem-GridColumn--tablet--12 aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--6"><span class="link-anchor" id="container_1838958143_container_copy_button"></span>
 


<a class="cmp-button" id="button-3fdfdd3d29" href="https://group.dhl.com/en.html" aria-describedby="a11y-message--new-window a11y-message--external-link" target="_blank" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;Button&quot;,&quot;type&quot;:&quot;Button&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;&quot;,&quot;context&quot;:&quot;{{site.name}} Group&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;dhl/components/core/button&quot;,&quot;name&quot;:&quot;dear author please copy the text that is in the CTA text field&quot;,&quot;topic&quot;:&quot;dear author, please look at the context of the component and name it that&quot;}}}" data-cmp-clickable="false" rel="noopener noreferrer" data-di-id="#button-3fdfdd3d29">
	
    <span class="cmp-button__text">Find Out More</span>
</a>

    
</div>



    
</div>

    </div>

    
</div>
<div class="container aem-GridColumn--offset--tablet--0 aem-GridColumn--phone--hide aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--default--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--tablet--hide">

    
    
    
    <span class="link-anchor" id="container_1838958143_container"></span>
    <span class="link-anchor" id="container_container_1838958143_container"></span>
    <span class="link-anchor" id="root_container_container_1838958143_container"></span>
    
    
        
    
        
    
    
    
    <div id="container-9cdf4d4a18" class="cmp-container cmp-container--white
		 
		     
         
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 cmp-container--is-flexible-image
         cmp-container--flexible-image-center-aligned
		 
         
         ">
        


<div class="aem-Grid aem-Grid--6 aem-Grid--tablet--6 aem-Grid--default--6 aem-Grid--phone--12 ">
    
    <div class="image aem-GridColumn--offset--tablet--0 aem-GridColumn--phone--hide aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--default--6 aem-GridColumn--offset--phone--0"><span class="link-anchor" id="container_1838958143_container_image"></span>
 

<div id="image-e105fbe976" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject" data-cmp-lazy="true" data-cmp-lazythreshold="0" data-cmp-src="https://www.dhl.com/content/experience-fragments/dhl/en/core/full_width_teaser/image_right_button/xbu_master_about_us_dhl_group/_jcr_content/root/container/container_1838958143/container/image.coreimg.80{.width}.jpeg'%}/1709122009803/glo-about-us-dhl-group-headquarter.jpeg'%}" data-cmp-widths="284,385,588,1197" data-asset="https://www.dhl.com/content/dam/dhl/global/dhl-spotlight/images/teaser-image-1200x588/glo-about-us-dhl-group-headquarter.jpg">
    
        <img class="cmp-image__image" itemprop="contentUrl" alt="" data-cmp-hook-image="image" src="https://img.freepik.com/premium-vector/yellow-orange-background-with-globe-world-map-it_259139-2949.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid">
    
    
    
</div>

    
</div>

    
</div>

    </div>

    
</div>

    
</div>

    </div>

    
</div>

    
</div>

    </div>

    
</div>

    
</div>

</div></div>
  
    

</div>

    
    
    <div class="experiencefragment" data-xf-path="https://www.dhl.com/content/experience-fragments/dhl/en/core/full_width_teaser/image_left_with_button/xbu_fwt_about_us_strategy_2030">
  <span class="link-anchor" id="parsysPath_experiencefragment"></span>
  <div id="experiencefragment-ff4d20c7a0" class="cmp-experiencefragment cmp-experiencefragment--image_left_with_button">

    



<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="container container-margin-bottom aem-GridColumn aem-GridColumn--default--12">

    
    
    
    <span class="link-anchor" id="root_container"></span>
    
    
    
    
        
    
    
    
    <div id="container-29decbbb24" class="cmp-container cmp-container--light-grey
		 
		     cmp-container--full-width
         
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="container aem-GridColumn aem-GridColumn--default--12">

    
    
    
    <span class="link-anchor" id="container_container_168243820"></span>
    <span class="link-anchor" id="root_container_container_168243820"></span>
    
    
    
        
    
        
    
    
    
    <div id="container-682369e845" class="cmp-container cmp-container--light-grey
		 
		     
         
         cmp-container--padding-size-0
         cmp-container--equal-height-desktop
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--tablet--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="container aem-GridColumn--offset--tablet--0 aem-GridColumn--phone--hide aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--default--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--tablet--hide">

    
    
    
    <span class="link-anchor" id="container_168243820_container"></span>
    <span class="link-anchor" id="container_container_168243820_container"></span>
    <span class="link-anchor" id="root_container_container_168243820_container"></span>
    
    
        
    
        
    
    
    
    <div id="container-551e8af820" class="cmp-container cmp-container--light-grey
		 
		     
         
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 cmp-container--is-flexible-image
         cmp-container--flexible-image-center-aligned
		 
         
         ">
        


<div class="aem-Grid aem-Grid--6 aem-Grid--tablet--6 aem-Grid--default--6 aem-Grid--phone--6 ">
    
    <div class="image aem-GridColumn--phone--6 aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--default--6"><span class="link-anchor" id="container_168243820_container_image"></span>
 

<div id="image-a74bbfa7f4" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject" data-cmp-lazy="true" data-cmp-lazythreshold="0" data-cmp-src="https://www.dhl.com/content/experience-fragments/dhl/en/core/full_width_teaser/image_left_with_button/xbu_fwt_about_us_strategy_2030/_jcr_content/root/container/container_168243820/container/image.coreimg.80{.width}.png'%}/1727766127177/about-us-strategy-2030-accelerate-sustainable-growth.png'%}" data-cmp-widths="284,385,588,1197" data-asset="https://www.dhl.com/content/dam/dhl/global/core/images/teaser-image-1200x588/about-us-strategy-2030-accelerate-sustainable-growth.png'%}">
    
        <img class="cmp-image__image" itemprop="contentUrl" alt="" data-cmp-hook-image="image" src="https://img.freepik.com/free-vector/checkin-world_1182-532.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid">
    
    
    
</div>

    
</div>

    
</div>

    </div>

    
</div>
<div class="container aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0">

    
    
    
    <span class="link-anchor" id="container_168243820_container_copy"></span>
    <span class="link-anchor" id="container_container_168243820_container_copy"></span>
    <span class="link-anchor" id="root_container_container_168243820_container_copy"></span>
    
    
        
    
        
    
    
    
    <div id="container-c349faa6c8" class="cmp-container cmp-container--light-grey
		 
		     
         
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--6 aem-Grid--tablet--12 aem-Grid--default--6 aem-Grid--phone--12 ">
    
    <div class="container aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn aem-GridColumn--default--5 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--1">

    
    
    
    <span class="link-anchor" id="container_copy_container"></span>
    <span class="link-anchor" id="container_168243820_container_copy_container"></span>
    <span class="link-anchor" id="container_container_168243820_container_copy_container"></span>
    
    
        
    
        
    
        
    
        
    
        
    
        
    
        
    
    
    
    <div id="container-5244df0a91" class="cmp-container cmp-container--light-grey
		 
		 cmp-container--padding-position-top cmp-container--padding-position-bottom   
         cmp-container--gutter-21
         cmp-container--padding-size-56
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--5 aem-Grid--tablet--11 aem-Grid--default--5 aem-Grid--phone--12 ">
    
    <div class="title title-left title-black title-margin-none aem-GridColumn--tablet--11 aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--5"><span class="link-anchor" id="container_copy_container_title"></span>



<div class="cmp-title" id="title-1b3b6f03a2">
     <h2 class="cmp-title__text cmp-title__text--level2">
		 
		 
			Strategy 2030
		
	</h2>
</div>

    
</div>


<div class="separator separator-type-introduction separator-margin-top aem-GridColumn--tablet--11 aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--5"><span class="link-anchor" id="container_copy_container_separator"></span>
<div class="cmp-separator" id="separator-c2978415c1">
	<hr class="cmp-separator__horizontal-rule">
</div>

    
</div>
<div class="text text-left text-default text-black text-margin-top aem-GridColumn--tablet--11 aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--5"><span class="link-anchor" id="container_copy_container_text_546419835"></span>




<div id="text-f1d4e4fe06" class="cmp-text">
     <p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--intro-size-3">With "Strategy 2030 - Accelerate sustainable growth" the company aims to unlock its full growth potential through divisional and Group growth initiatives.</span></p>     
</div>

    
</div>
<div class="button button-margin-top aem-GridColumn--tablet--11 aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--5"><span class="link-anchor" id="container_copy_container_button"></span>
 


<a class="cmp-button" id="button-a0dbd53759" href="https://group.dhl.com/en/about-us/the-group/strategy.html" aria-label="Find out more about Strategy 2030" aria-describedby="a11y-message--new-window a11y-message--external-link" target="_blank" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;Find out more&quot;,&quot;type&quot;:&quot;Button&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;full width teaser - strategy 2030&quot;,&quot;context&quot;:&quot;Strategy 2030&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;dhl/components/core/button&quot;}}}" data-cmp-clickable="false" rel="noopener noreferrer" data-di-id="#button-a0dbd53759">
	
    <span class="cmp-button__text">Find out more</span>
</a>

    
</div>

    
</div>

    </div>

    
</div>

    
</div>

    </div>

    
</div>

    
</div>

    </div>

    
</div>

    
</div>

    </div>

    
</div>

    
</div>

</div></div>
  
    

</div>

    
    
    <div class="container">

    
    
    
    <span class="link-anchor" id="parsysPath_container_1251808414"></span>
    
    
    
    
        
    
        
    
        
    
    
    
    <div id="container-11605e24ce" class="cmp-container cmp-container--white
		 
		     
         cmp-container--gutter-21
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--tablet--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="title title-left title-black title-margin-none aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_1251808414_title"></span>



<div class="cmp-title" id="title-3ab400b04e">
     <h2 class="cmp-title__text cmp-title__text--level2">
		 
		 
			Connected and Committed
		
	</h2>
</div>

    
</div>
<div class="separator separator-type-introduction separator-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_1251808414_separator"></span>
<div class="cmp-separator" id="separator-e0158c4e35">
	<hr class="cmp-separator__horizontal-rule">
</div>

    
</div>
<div class="text text-left text-default text-black text-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_1251808414_text"></span>




<div id="text-48290cd1a4" class="cmp-text">
     <p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--intro-size-3">At {{site.name}} Group, we are an international team of logistics and supply chain specialists, business and HR professionals, and IT and tech experts working across 220 countries and territories. We are connected and committed – to setting an example for sustainable business, building strong partnerships, and offering people a fantastic place to develop their careers.</span></p>     
</div>

    
</div>

    
</div>

    </div>

    
</div>


    
    
    <div class="experiencefragment" data-xf-path="https://www.dhl.com/content/experience-fragments/dhl/en/core/help_and_related_tea/3_columns/xbu_master_about_us_live_inside_dhl">
  <span class="link-anchor" id="parsysPath_experiencefragment_760171435"></span>
  <div id="experiencefragment-30d27842ee" class="cmp-experiencefragment cmp-experiencefragment--3_columns">

    



<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="container container-margin-bottom aem-GridColumn aem-GridColumn--default--12">

    
    
    
    <span class="link-anchor" id="root_container"></span>
    
    
    
    
        
    
        
    
        
    
    
    
    <div id="container-b899b156a8" class="cmp-container cmp-container--white
		 
		     
         cmp-container--gutter-21
         cmp-container--padding-size-0
         cmp-container--equal-height-desktop
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--tablet--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="teaser teaser-has-copy teaser-align-left teaser-top-margin aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
<span class="link-anchor" id="root_container_teaser"></span>
 

<div id="teaser-fb2c346328" class="cmp-teaser cmp-teaser--with-overlay-link">
	
	
	<a class="cmp-teaser__link "   tabindex="0" target="_self" data-cmp-clickable="false" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;Teaser 1&quot;,&quot;type&quot;:&quot;Button&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;&quot;,&quot;context&quot;:&quot;&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;dhl/components/core/teaser&quot;,&quot;name&quot;:&quot;dear author please copy the text that is in the CTA text field&quot;,&quot;topic&quot;:&quot;dear author, please look at the context of the component and name it that&quot;}}}">
	
		
    <div class="cmp-teaser__image"><span class="link-anchor" id="root_container_teaser"></span>
 

<div id="image-fb2c346328" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject" data-cmp-lazy="true" data-cmp-lazythreshold="0" data-cmp-src="https://www.dhl.com/content/experience-fragments/dhl/en/core/help_and_related_tea/3_columns/xbu_master_about_us_live_inside_dhl/_jcr_content/root/container/teaser.coreimg.80{.width}.jpeg'%}/1709126042997/glo-core-about-us-sustainability.jpeg'%}" data-cmp-widths="284,385,588,1197" data-asset="https://www.dhl.com/content/dam/dhl/global/core/images/media-gallery-landscape/glo-core-about-us-sustainability.jpg">
    
        <img class="cmp-image__image" itemprop="contentUrl" alt="" data-cmp-hook-image="image" src="https://img.freepik.com/free-photo/delivery-african-american-man-yellow-polo-shirt-cap-standing-with-cardboard-box-shoulder-looking-confident-green_141793-18890.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid">
    
    
    
</div>

    
</div>

		<div class="cmp-teaser__content">
			
    

			
    <h2 class="cmp-teaser__title">
			Sustainability
    </h2>

			
    <div class="cmp-teaser__description"><div class="has-rte"><p class="has-rte"></p>
<div class="has-rte">
 <p class="has-rte">We strive for a consistent balance between ecology, economy and society.</p>
</div>
<p class="has-rte"></p></div></div>

			
    

		</div> 
		
	</a>
	
</div>

    
</div>
<div class="teaser teaser-has-copy teaser-top-margin aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
<span class="link-anchor" id="root_container_teaser_copy"></span>
 

<div id="teaser-d83b873724" class="cmp-teaser cmp-teaser--with-overlay-link">
	
	
	<a class="cmp-teaser__link "   tabindex="0" target="_self" data-cmp-clickable="false" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;Teaser 2&quot;,&quot;type&quot;:&quot;Button&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;&quot;,&quot;context&quot;:&quot;&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;dhl/components/core/teaser&quot;,&quot;name&quot;:&quot;dear author please copy the text that is in the CTA text field&quot;,&quot;topic&quot;:&quot;dear author, please look at the context of the component and name it that&quot;}}}">
	
		
    <div class="cmp-teaser__image"><span class="link-anchor" id="root_container_teaser_copy"></span>
 

<div id="image-d83b873724" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject" data-cmp-lazy="true" data-cmp-lazythreshold="0" data-cmp-src="https://www.dhl.com/content/experience-fragments/dhl/en/core/help_and_related_tea/3_columns/xbu_master_about_us_live_inside_dhl/_jcr_content/root/container/teaser_copy.coreimg.80{.width}.jpeg'%}/1709126077536/glo-core-about-us-partnerships-1.jpeg'%}" data-cmp-widths="284,385,588,1197" data-asset="https://www.dhl.com/content/dam/dhl/global/core/images/media-gallery-landscape/glo-core-about-us-partnerships-1.jpg">
    
        <img class="cmp-image__image" itemprop="contentUrl" alt="" data-cmp-hook-image="image" src="https://img.freepik.com/premium-photo/delivery-delivery-concept-with-truck-around-world-logistics-copy-space-3d-illustration_522591-2255.jpg?ga=GA1.1.753374989.1717678999&semt=ais_hybrid">
    
    
    
</div>

    
</div>

		<div class="cmp-teaser__content">
			
    

			
    <h2 class="cmp-teaser__title">
			Brand Partnerships
    </h2>

			
    <div class="cmp-teaser__description"><div class="has-rte"><p class="has-rte"></p>
<div class="has-rte">
 <p class="has-rte">{{site.name}}is the specialist for delivering global events around the world.</p>
</div>
<p class="has-rte"></p></div></div>

			
    

		</div> 
		
	</a>
	
</div>

    
</div>
<div class="teaser teaser-has-copy teaser-top-margin aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4">
<span class="link-anchor" id="root_container_teaser_copy_1573314453"></span>
 

<div id="teaser-8c91c74c8f" class="cmp-teaser cmp-teaser--with-overlay-link">
	
	
	<a class="cmp-teaser__link cmp-teaser__link--external"   tabindex="0" aria-describedby="a11y-message--new-window a11y-message--external-link" target="_blank" data-cmp-clickable="false" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;Teaser 3&quot;,&quot;type&quot;:&quot;Button&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;&quot;,&quot;context&quot;:&quot;&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;dhl/components/core/teaser&quot;,&quot;name&quot;:&quot;dear author please copy the text that is in the CTA text field&quot;,&quot;topic&quot;:&quot;dear author, please look at the context of the component and name it that&quot;}}}" rel="noopener noreferrer">
	
		
    <div class="cmp-teaser__image"><span class="link-anchor" id="root_container_teaser_copy_1573314453"></span>
 

<div id="image-8c91c74c8f" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject" data-cmp-lazy="true" data-cmp-lazythreshold="0" data-cmp-src="https://www.dhl.com/content/experience-fragments/dhl/en/core/help_and_related_tea/3_columns/xbu_master_about_us_live_inside_dhl/_jcr_content/root/container/teaser_copy_1573314453.coreimg.80{.width}.jpeg'%}/1709126104552/glo-core-about-us-careers.jpeg'%}" data-cmp-widths="284,385,588,1197" data-asset="https://www.dhl.com/content/dam/dhl/global/core/images/media-gallery-landscape/glo-core-about-us-careers.jpg">
    
        <img class="cmp-image__image" itemprop="contentUrl" alt="" data-cmp-hook-image="image" src="{% static 'main/glo-core-about-us-careers.jpeg'%}">
    
    
    
</div>

    
</div>

		<div class="cmp-teaser__content">
			
    

			
    <h2 class="cmp-teaser__title">
			Careers
    </h2>

			
    <div class="cmp-teaser__description"><div class="has-rte"><p class="has-rte"></p>
<div class="has-rte">
 <p class="has-rte">As one of the world's largest and most innovative employers, we take special pride in our people.</p>
</div>
<p class="has-rte"></p></div></div>

			
    

		</div> 
		
	</a>
	
</div>

    
</div>

    
</div>

    </div>

    
</div>

    
</div>

</div></div>
  
    

</div>

    
    
    <div class="experiencefragment" data-xf-path="https://www.dhl.com/content/experience-fragments/dhl/en/core/fwtl/yellow_3rows/xbu_master_about_us_our_divisions_exp_dgf">
  <span class="link-anchor" id="parsysPath_experiencefragment_1296123708"></span>
  <div id="experiencefragment-d21100f2d0" class="cmp-experiencefragment cmp-experiencefragment--yellow_3rows">

    



<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="container container-margin-bottom aem-GridColumn aem-GridColumn--default--12">

    
    
    
    <span class="link-anchor" id="root_container_copy_copy"></span>
    
    
    
    
        
    
        
    
    
    
    <div id="container-8ef1bf1d88" class="cmp-container cmp-container--yellow-gradiant-vertical
		 
		     cmp-container--full-width
         
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="container aem-GridColumn aem-GridColumn--default--12">

    
    
    
    <span class="link-anchor" id="container_copy_copy_container_33776415"></span>
    <span class="link-anchor" id="root_container_copy_copy_container_33776415"></span>
    
    
    
        
    
        
    
        
    
        
    
        
    
    
    
    <div id="container-a01e671eaf" class="cmp-container cmp-container--transparent
		 
		 cmp-container--padding-position-top cmp-container--padding-position-bottom   
         
         cmp-container--padding-size-56
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="title title-left title-black title-margin-none aem-GridColumn aem-GridColumn--default--12"><span class="link-anchor" id="container_copy_copy_container_33776415_title"></span>



<div class="cmp-title" id="title-d69fc0c198">
     <h2 class="cmp-title__text cmp-title__text--level2">
		 
		 
			Our Divisions
		
	</h2>
</div>

    
</div>
<div class="separator separator-type-introduction separator-margin-top aem-GridColumn aem-GridColumn--default--12"><span class="link-anchor" id="container_copy_copy_container_33776415_separator"></span>
<div class="cmp-separator" id="separator-f20a89def6">
	<hr class="cmp-separator__horizontal-rule">
</div>

    
</div>
<div class="container aem-GridColumn aem-GridColumn--default--12">

    
    
    
    <span class="link-anchor" id="container_33776415_container"></span>
    <span class="link-anchor" id="container_copy_copy_container_33776415_container"></span>
    <span class="link-anchor" id="root_container_copy_copy_container_33776415_container"></span>
    
    
        
    
        
    
    
    
    <div id="container-3ae8fe29c0" class="cmp-container cmp-container--transparent
		 
		     
         cmp-container--gutter-21
         cmp-container--padding-size-0
         cmp-container--equal-height-desktop
         cmp-container--equal-height-tablet
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="teaser teaser-horizontal teaser-with-image-icon teaser-has-copy teaser-align-left teaser-top-margin aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0">
<span class="link-anchor" id="container_33776415_container_teaser"></span>
 

<div id="teaser-0a7e150fe0" class="cmp-teaser cmp-teaser--with-overlay-link">
	
	
	<a class="cmp-teaser__link " href="{% url 'Express' %}" tabindex="0" target="_self" data-cmp-clickable="false" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;{{site.name}} &quot;,&quot;type&quot;:&quot;Button&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;about us - our divisions&quot;,&quot;context&quot;:&quot;Our Divisions&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;dhl/components/core/teaser&quot;}}}">
	
		
    <div class="cmp-teaser__image"><span class="link-anchor" id="container_33776415_container_teaser"></span>
 

<div id="image-0a7e150fe0" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject" data-cmp-lazy="true" data-cmp-lazythreshold="0" data-cmp-src="https://www.dhl.com/content/experience-fragments/dhl/en/core/fwtl/yellow_3rows/xbu_master_about_us_our_divisions_exp_dgf/_jcr_content/root/container_copy_copy/container_33776415/container/teaser.coreimg{.width}.svg/1710785308648/glo-core-product-express.svg" data-asset="https://www.dhl.com/content/dam/dhl/global/core/images/icons/product-icons/glo-core-product-express.svg">
    
        <img class="cmp-image__image" itemprop="contentUrl" alt="" data-cmp-hook-image="image" src="{% static 'main/glo-core-product-express.svg'%}">
    
    
    
</div>

    
</div>

		<div class="cmp-teaser__content">
			
    

			
    <h2 class="cmp-teaser__title">
			{{site.name}} 
    </h2>

			
    <div class="cmp-teaser__description"><div class="has-rte"><p class="has-rte"></p>
<div class="has-rte">
 <p class="has-rte">When your shipment needs to be there fast, choose the International Specialists for quick, reliable expedited shipments to and from more than 220 countries and territories.</p>
</div>
<p class="has-rte"></p></div></div>

			
    

		</div> 
		
	</a>
	
</div>

    
</div>
<div class="teaser teaser-horizontal teaser-with-image-icon teaser-has-copy teaser-align-left teaser-top-margin aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0">
<span class="link-anchor" id="container_33776415_container_teaser_copy"></span>
 

<div id="teaser-f720752781" class="cmp-teaser cmp-teaser--with-overlay-link">
	
	
	<a class="cmp-teaser__link " href="{% url 'GlobalForwarding' %}" tabindex="0" target="_self" data-cmp-clickable="false" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;{{site.name}} Global Forwarding&quot;,&quot;type&quot;:&quot;Button&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;about us - our divisions&quot;,&quot;context&quot;:&quot;Our Divisions&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;dhl/components/core/teaser&quot;}}}">
	
		
    <div class="cmp-teaser__image"><span class="link-anchor" id="container_33776415_container_teaser_copy"></span>
 

<div id="image-f720752781" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject" data-cmp-lazy="true" data-cmp-lazythreshold="0" data-cmp-src="https://www.dhl.com/content/experience-fragments/dhl/en/core/fwtl/yellow_3rows/xbu_master_about_us_our_divisions_exp_dgf/_jcr_content/root/container_copy_copy/container_33776415/container/teaser_copy.coreimg{.width}.svg/1710785316639/global-forwarding-freight-rgb-red.svg" data-asset="https://www.dhl.com/content/dam/dhl/global/core/images/icons/general-icons/global_forwarding_freight_rgb_red.svg">
    
        <img class="cmp-image__image" itemprop="contentUrl" alt="" data-cmp-hook-image="image" src="{% static 'main/global-forwarding-freight-rgb-red.svg'%}">
    
    
    
</div>

    
</div>

		<div class="cmp-teaser__content">
			
    

			
    <h2 class="cmp-teaser__title">
			{{site.name}} Global Forwarding
    </h2>

			
    <div class="cmp-teaser__description"><div class="has-rte"><p class="has-rte"></p>
<div class="has-rte">
 <p class="has-rte">Enabling global trade by connecting your goods to any corner of the globe, we provide international and domestic freight deliveries for the cargo of business customers worldwide.</p>
</div>
<p class="has-rte"></p></div></div>

			
    

		</div> 
		
	</a>
	
</div>

    
</div>

    
</div>

    </div>

    
</div>
<div class="container aem-GridColumn aem-GridColumn--default--12">

    
    
    
    <span class="link-anchor" id="container_33776415_container_copy"></span>
    <span class="link-anchor" id="container_copy_copy_container_33776415_container_copy"></span>
    <span class="link-anchor" id="root_container_copy_copy_container_33776415_container_copy"></span>
    
    
        
    
        
    
    
    
    <div id="container-a3e7bec1ca" class="cmp-container cmp-container--transparent
		 
		     
         cmp-container--gutter-21
         cmp-container--padding-size-0
         cmp-container--equal-height-desktop
         cmp-container--equal-height-tablet
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    




    
</div>

    </div>

    
</div>
<div class="container aem-GridColumn aem-GridColumn--default--12">

    
    
    
    <span class="link-anchor" id="container_33776415_container_copy_1793645918"></span>
    <span class="link-anchor" id="container_copy_copy_container_33776415_container_copy_1793645918"></span>
    <span class="link-anchor" id="root_container_copy_copy_container_33776415_container_copy_1793645918"></span>
    
    
        
    
        
    
    
    
    <div id="container-9b4001e21a" class="cmp-container cmp-container--transparent
		 
		     
         cmp-container--gutter-21
         cmp-container--padding-size-0
         cmp-container--equal-height-desktop
         cmp-container--equal-height-tablet
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    




    
</div>

    </div>

    
</div>

    
</div>

    </div>

    
</div>

    
</div>

    </div>

    
</div>

    
</div>

</div></div>
  
    

</div>

</div>
{% endblock content %}