


{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="parsysPath parsys">




    
    
    
	
    <span class="link-anchor" id="parsysPath_horizontal_ruler"></span>
    <div class="c-horizontal-ruler component-margin 
     
    component-small l-grid l-grid--center-s invisible">
        <hr class="c-horizontal-ruler--wide">
    </div>
    
        
        
        
    
    
    
    <span class="link-anchor" id="parsysPath_page_headline"></span>
    <div class="c-page-headline component-small has-rte 
    component-margin
    ">
        <div class="c-page-headline--wrapper">
            <h1 class="disable-soft-hyphen-text-fields level1  ">Disclaimer</h1>
            
        </div>
        
    </div>
    
        
        
        
    
    
    <span class="link-anchor" id="parsysPath_text_generic"></span>
    <div class="component-margin c-text-generic has-rte component-small ">
        
        
        
            <div class="has-rte"><p class="has-rte"></p>
    <p class="has-rte"></p>
    <p class="has-rte"></p>
    <p class="has-rte"></p>
    <p class="has-rte"></p>
    <p class="has-rte">Deutsche Post AG continually checks and updates the information provided on its website. Despite thorough checks certain data may have changed since posting on the site. The company can therefore not assume any liability or issue any guarantee for the information provided being current, correct or complete.</p>
    <p class="has-rte">The same applies to all other web pages to which a person might be directed by hyperlinks. Deutsche Post AG is not responsible for the content of the webpages reached via this type of link.</p>
    <p class="has-rte">The information provided on this internet page does not constitute an offer to purchase shares of Deutsche Post AG or any other company, nor is it an invitation to purchase or to otherwise directly or indirectly trade shares. Furthermore, Deutsche Post AG reserves the right to change or supplement the information provided.</p>
    <p class="has-rte">The content and structure of the Deutsche Post website is under copyright protection. None of the information or data, particularly not the texts, portions thereof, or pictures, may be reproduced without the prior consent of Deutsche Post AG.</p>
    <p class="has-rte"></p>
    <p class="has-rte"></p>
    <p class="has-rte"></p>
    <p class="has-rte"></p>
    <p class="has-rte"></p></div>
        
    </div>
    
    </div>
{% endblock content %}