


{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="parsysPath parsys">




    
    
    <div class="container">

    
    
    
    <span class="link-anchor" id="parsysPath_container"></span>
    
    
    
    
        
    
        
    
    
    
    <div id="container-b6c6dc5c0e" class="cmp-container cmp-container--white
		 
		     
         cmp-container--gutter-21
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--tablet--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="title title-red title-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_title"></span>



<div class="cmp-title" id="title-62e0201785">
     <h1 class="cmp-title__text cmp-title__text--level1">
		 
		 
			Fraud Awareness
		
	</h1>
</div>

    
</div>
<div class="separator separator-type-introduction separator-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_separator"></span>
<div class="cmp-separator" id="separator-5ff2adef68">
	<hr class="cmp-separator__horizontal-rule">
</div>

    
</div>

    
</div>

    </div>

    
</div>


    
    
    <div class="container container-margin-bottom">

    
    
    
    <span class="link-anchor" id="parsysPath_container_846272512"></span>
    
    
    
    
        
    
    
    
    <div id="container-55eedbd5e7" class="cmp-container cmp-container--white
		 
		     
         cmp-container--gutter-21
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--tablet--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="text text-left text-default text-black text-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_846272512_text"></span>




<div id="text-e8fc0e045a" class="cmp-text">
     <p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--large-body-copy">Thank you for joining our effort to combat online fraud. {{site.name}} goes to great lengths to protect our customers from fraud. If you suspect having received fraudulent emails, SMS or found a website or social media account that tries to pass off as {{site.name}}, we encourage you to let us know at your earliest convenience, so that we can quickly take actions to stop the fraud.</span></p>
<p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--large-body-copy">Please report all suspicious activity to our dedicated Anti-Abuse Mailbox at&nbsp;
	<a href="mailto:{{site.email}}" class="cmp-text__link cmp-text__link--mail cmp-text__link--red cmp-text__link--has-icon">
		{{site.email}}</a>&nbsp;following the below instructions.<br></span></p>
<p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--large-body-copy">We thoroughly investigate every report of suspected fraud, but generally, will not respond to personal inquiries. If you have questions regarding the status of a shipment or an invoice, please direct those to our&nbsp;
	<a target="_self" class="cmp-text__link cmp-text__link--internal cmp-text__link--red cmp-text__link---has-icon" aria-label="Contact our customer support" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;{{site.name}}_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;customer support&quot;,&quot;type&quot;:&quot;Link&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;{{site.name}} Fraud Awareness Guidelines&quot;,&quot;context&quot;:&quot;Text&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;platform/components/core/text&quot;}}}">customer support</a>.</span></p>     
</div>

    
</div>

    
</div>

    </div>

    
</div>


    
    
    


<span class="link-anchor" id="parsysPath_vertical_tabs_contai"></span>

	

<div class="c-vertical-tabs js--vertical-tabs  component-small  component-margin ">
	<div class="has-no-image c-vertical-tabs--container  shadow-small " role="tablist">
		
		
			
	<div tabindex="0" role="tab" class="c-vertical-tabs--label has-icon c-vertical-tabs--label-mobile js--vertical-tabs--label js--vertical-tabs--label-mobile selected" data-tabpanel="c-vertical-tabs--content-mobile_vertical_tabs_contai0" aria-controls="c-vertical-tabs--content-mobile_vertical_tabs_contai0" aria-selected="true">
        <span>Fraudulent Email</span>
	</div>
	
	<div class="js--vertical-tabs--content js--vertical-tabs--content-mobile c-vertical-tabs--content-mobile selected" id="c-vertical-tabs--content-mobile_vertical_tabs_contai0" role="tabpanel">
     
		<div class="c-vertical-tabs--copy-wrapper">
			<h4 class="level4">Fraudulent Email</h4>
			<div class="has-rte"><p class="has-rte">Below are some indicators that can help you assess whether the received email is fraudulent.</p>
<ul class="list is-left has-no-padding">
 <li><span>Official {{site.name}} communication is always sent from @{{site.name}}.com, @dp{{site.name}}.com, @{{site.name}}.de, @{{site.name}}.fr, @{{site.name}}-news.com or another country domain after @{{site.name}}.<br><i><b>Note! </b>Be aware of spoofed phishing emails sent from fake email addresses using {{site.name}} legitimate domains. In such cases, when the sender appears legitimate, but the email still seems suspicious, always inspect the content of the email for anomalies such as an urgent tone, grammatical errors, unfamiliar URLs or attachments. Please refrain from clicking on any unknown links or opening attachments that seem suspicious.<br></i></span></li>
 <li><span>We never use @gmail, @yahoo or other free email services to send emails.</span></li>
 <li><span>We never link to a website other than our own starting with for example https://{{site.name}}.com/, https://dp{{site.name}}.com/, https://{{site.name}}-news.com/, or a country/campaign website</span></li>
</ul>
<p class="has-rte"><b><br>
  From a desktop computer:&nbsp;</b></p>
<p class="has-rte"><b>Drag &amp; Drop</b>&nbsp;the suspicious email into a new message and send it to&nbsp;<a 
	href="mailto:{{site.email}}" class="link link-mail link-red has-icon">{{site.email}}</a>&nbsp;<b>as attachment</b>. If the “drag &amp; drop” feature is not available in your email client, please follow this&nbsp;
	<a  target="_blank" class="link link-internal link-red has-icon" rel="noopener noreferrer" aria-label="open the guide how to forward email attachments" aria-describedby="a11y-message--new-window " data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;{{site.name}}_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;guide&quot;,&quot;type&quot;:&quot;Link&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;vertical tabs&quot;,&quot;context&quot;:&quot;Vertical Tabs Container \u003e Fraudulent Email&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}}}">guide</a>&nbsp;that includes some of the most used email clients on how to forward email attachments. To effectively shut down the fraudulent service, we need&nbsp;<b>complete mail headers</b>&nbsp;which are not included in a forwarded message.</p>
<p class="has-rte"><b><br>
  From a mobile device:&nbsp;</b></p>
<ul class="list is-left has-no-padding">
 <li><span><b>Forward the message</b>&nbsp;to us. If feasible, please always send the suspected email from a desktop as attachment including complete mail headers.<br></span></li>
 <li><span><b>Report the message as spam</b>&nbsp;within your mail app, so that your mail provider can take appropriate actions.</span></li>
</ul></div>
		</div>
	</div>

		
			
	<div tabindex="0" role="tab" class="c-vertical-tabs--label has-icon c-vertical-tabs--label-mobile js--vertical-tabs--label js--vertical-tabs--label-mobile" data-tabpanel="c-vertical-tabs--content-mobile_vertical_tabs_contai1" aria-controls="c-vertical-tabs--content-mobile_vertical_tabs_contai1" aria-selected="false">
        <span>Fraudulent SMS</span>
	</div>
	
	<div class="js--vertical-tabs--content js--vertical-tabs--content-mobile c-vertical-tabs--content-mobile" id="c-vertical-tabs--content-mobile_vertical_tabs_contai1" role="tabpanel">
     
		<div class="c-vertical-tabs--copy-wrapper">
			<h4 class="level4">Fraudulent SMS</h4>
			<div class="has-rte"><ul class="list is-left has-no-padding">
 <li><span>SMS Scams often include a shortened URL e.g. starting with https://bit.ly/ to obfuscate the final destination of the link.</span></li>
 <li><span>The sender number is not visible, instead you find a generic name such as “Delivery”.</span></li>
 <li><span>The phone number starts with a a country prefix outside of an expected territory (e.g. +235).</span></li>
</ul>
<p class="has-rte">Send a screenshot of the suspicious SMS to&nbsp;<a href="mailto:{{site.email}}" class="link link-mail link-red has-icon" aria-label="mail to {{site.email}}" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;{{site.name}}_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;{{site.email}}&quot;,&quot;type&quot;:&quot;Link&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;vertical tabs&quot;,&quot;context&quot;:&quot;Vertical Tabs Container \u003e Fraudulent SMS&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}}}">{{site.email}}</a>, include the suspicious phone number in the message.</p></div>
		</div>
	</div>

		
			
	<div tabindex="0" role="tab" class="c-vertical-tabs--label has-icon c-vertical-tabs--label-mobile js--vertical-tabs--label js--vertical-tabs--label-mobile" data-tabpanel="c-vertical-tabs--content-mobile_vertical_tabs_contai2" aria-controls="c-vertical-tabs--content-mobile_vertical_tabs_contai2" aria-selected="false">
        <span>Fraudulent Social Media Accounts Incl. WhatsApp</span>
	</div>
	
	<div class="js--vertical-tabs--content js--vertical-tabs--content-mobile c-vertical-tabs--content-mobile" id="c-vertical-tabs--content-mobile_vertical_tabs_contai2" role="tabpanel">
     
		<div class="c-vertical-tabs--copy-wrapper">
			<h4 class="level4">Fraudulent Social Media Accounts Incl. WhatsApp</h4>
			<div class="has-rte"><ul class="list is-left has-no-padding">
 <li><span>The account is lacking a sign of verification (e.g. there is no blue badge).</span></li>
 <li><span>The account attempts to continue the communication over an encrypted channel such as Whatsapp or Telegram.</span></li>
 <li><span>The account is only a couple of weeks old.</span></li>
 <li><span>The account offers “free Visa”, “free flights” or to “double your investment”.</span></li>
 <li><span>The account does not make use of an adequate profile picture (DP/{{site.name}} Logo) and background picture.<br>
   &nbsp;</span></li>
</ul>
<ol class="list is-left has-no-padding">
 <li><span>Please report the social media account/post destination (URL) or phone number to&nbsp;<a href="mailto:{{site.email}}" class="link link-mail link-red has-icon" aria-label="mail to {{site.email}}" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;{{site.name}}_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;{{site.email}}&quot;,&quot;type&quot;:&quot;Link&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;vertical tabs&quot;,&quot;context&quot;:&quot;Vertical Tabs Container \u003e Fraudulent Social Media Accounts Incl. WhatsApp&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}}}">{{site.email}}</a>.<br></span></li>
 <li><span>If available, report the account/post directly to the social media channel as fraud.</span></li>
</ol></div>
		</div>
	</div>

		
			
	<div tabindex="0" role="tab" class="c-vertical-tabs--label has-icon c-vertical-tabs--label-mobile js--vertical-tabs--label js--vertical-tabs--label-mobile" data-tabpanel="c-vertical-tabs--content-mobile_vertical_tabs_contai3" aria-controls="c-vertical-tabs--content-mobile_vertical_tabs_contai3" aria-selected="false">
        <span>Hacked {{site.name}} Accounts</span>
	</div>
	
	<div class="js--vertical-tabs--content js--vertical-tabs--content-mobile c-vertical-tabs--content-mobile" id="c-vertical-tabs--content-mobile_vertical_tabs_contai3" role="tabpanel">
     
		<div class="c-vertical-tabs--copy-wrapper">
			<h4 class="level4">Hacked {{site.name}} Accounts</h4>
			<div class="has-rte"><p class="has-rte">If you receive unexpected messages alerting you over changes to your account, such as address changes or password reset notifications that were not triggered by yourself, it is possible that hackers are trying to take over your account.</p>
<ol class="list is-left has-no-padding">
 <li><span>Login to your account and change the password</span></li>
 <li><span>If you lost access, please report this incidence via&nbsp;<a   target="_self" class="link link-internal link-red has-icon" aria-label="contact our customer support " data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;{{site.name}}_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;customer support &quot;,&quot;type&quot;:&quot;Link&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;vertical tabs&quot;,&quot;context&quot;:&quot;Vertical Tabs Container \u003e Hacked {{site.name}} Accounts&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}}}">customer support</a>&nbsp;&nbsp;</span></li>
</ol></div>
		</div>
	</div>

		
		
		
		<div class="c-vertical-tabs--tablist-desktop js--vertical-tabs--tablist-desktop">
			<div tabindex="0" role="tab" class="c-vertical-tabs--label has-icon js--vertical-tabs--label js--vertical-tabs--label-desktop selected" aria-selected="true" data-tabpanel="c-vertical-tabs--content-desktop_vertical_tabs_contai0" aria-controls="c-vertical-tabs--content-desktop_vertical_tabs_contai0" data-tracking="{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}">
				<span>Fraudulent Email</span>
			</div>
		
			<div tabindex="0" role="tab" class="c-vertical-tabs--label has-icon js--vertical-tabs--label js--vertical-tabs--label-desktop" aria-selected="false" data-tabpanel="c-vertical-tabs--content-desktop_vertical_tabs_contai1" aria-controls="c-vertical-tabs--content-desktop_vertical_tabs_contai1" data-tracking="{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}">
				<span>Fraudulent SMS</span>
			</div>
		
			<div tabindex="0" role="tab" class="c-vertical-tabs--label has-icon js--vertical-tabs--label js--vertical-tabs--label-desktop" aria-selected="false" data-tabpanel="c-vertical-tabs--content-desktop_vertical_tabs_contai2" aria-controls="c-vertical-tabs--content-desktop_vertical_tabs_contai2" data-tracking="{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}">
				<span>Fraudulent Social Media Accounts Incl. WhatsApp</span>
			</div>
		
			<div tabindex="0" role="tab" class="c-vertical-tabs--label has-icon js--vertical-tabs--label js--vertical-tabs--label-desktop" aria-selected="false" data-tabpanel="c-vertical-tabs--content-desktop_vertical_tabs_contai3" aria-controls="c-vertical-tabs--content-desktop_vertical_tabs_contai3" data-tracking="{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}">
				<span>Hacked {{site.name}} Accounts</span>
			</div>
		</div>
		<div class="c-vertical-tabs--contentlist-desktop">
			
	<div class="js--vertical-tabs--content js--vertical-tabs--content-desktop c-vertical-tabs--content-desktop selected" id="c-vertical-tabs--content-desktop_vertical_tabs_contai0" role="tabpanel">
		
		
		<div class="c-vertical-tabs--copy-wrapper js--vertical-tabs--copy-wrapper " style="max-height: 85.6rem;">
			<h4 class="level4">Fraudulent Email</h4>
			<div class="has-rte"><p class="has-rte">Below are some indicators that can help you assess whether the received email is fraudulent.</p>
<ul class="list is-left has-no-padding">
 <li><span>Official {{site.name}} communication is always sent from @{{site.name}}.com, @dp{{site.name}}.com, @{{site.name}}.de, @{{site.name}}.fr, @{{site.name}}-news.com or another country domain after @{{site.name}}.<br><i><b>Note! </b>Be aware of spoofed phishing emails sent from fake email addresses using {{site.name}} legitimate domains. In such cases, when the sender appears legitimate, but the email still seems suspicious, always inspect the content of the email for anomalies such as an urgent tone, grammatical errors, unfamiliar URLs or attachments. Please refrain from clicking on any unknown links or opening attachments that seem suspicious.<br></i></span></li>
 <li><span>We never use @gmail, @yahoo or other free email services to send emails.</span></li>
 <li><span>We never link to a website other than our own starting with for example https://{{site.name}}.com/, https://dp{{site.name}}.com/, https://{{site.name}}-news.com/, or a country/campaign website</span></li>
</ul>
<p class="has-rte"><b><br>
  From a desktop computer:&nbsp;</b></p>
<p class="has-rte"><b>Drag &amp; Drop</b>&nbsp;the suspicious email into a new message and send it to&nbsp;<a href="mailto:{{site.email}}" class="link link-mail link-red has-icon">{{site.email}}</a>&nbsp;<b>as attachment</b>. If the “drag &amp; drop” feature is not available in your email client, please follow this&nbsp;
	<a  target="_blank" class="link link-internal link-red has-icon" rel="noopener noreferrer" aria-label="open the guide how to forward email attachments" aria-describedby="a11y-message--new-window " data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;{{site.name}}_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;guide&quot;,&quot;type&quot;:&quot;Link&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;vertical tabs&quot;,&quot;context&quot;:&quot;Vertical Tabs Container \u003e Fraudulent Email&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}}}">guide</a>&nbsp;that includes some of the most used email clients on how to forward email attachments. To effectively shut down the fraudulent service, we need&nbsp;<b>complete mail headers</b>&nbsp;which are not included in a forwarded message.</p>
<p class="has-rte"><b><br>
  From a mobile device:&nbsp;</b></p>
<ul class="list is-left has-no-padding">
 <li><span><b>Forward the message</b>&nbsp;to us. If feasible, please always send the suspected email from a desktop as attachment including complete mail headers.<br></span></li>
 <li><span><b>Report the message as spam</b>&nbsp;within your mail app, so that your mail provider can take appropriate actions.</span></li>
</ul></div>
		</div>
		
	</div>

		
			
	<div class="js--vertical-tabs--content js--vertical-tabs--content-desktop c-vertical-tabs--content-desktop" id="c-vertical-tabs--content-desktop_vertical_tabs_contai1" role="tabpanel">
		
		
		<div class="c-vertical-tabs--copy-wrapper js--vertical-tabs--copy-wrapper " style="max-height: 85.6rem;">
			<h4 class="level4">Fraudulent SMS</h4>
			<div class="has-rte"><ul class="list is-left has-no-padding">
 <li><span>SMS Scams often include a shortened URL e.g. starting with https://bit.ly/ to obfuscate the final destination of the link.</span></li>
 <li><span>The sender number is not visible, instead you find a generic name such as “Delivery”.</span></li>
 <li><span>The phone number starts with a a country prefix outside of an expected territory (e.g. +235).</span></li>
</ul>
<p class="has-rte">Send a screenshot of the suspicious SMS to&nbsp;<a href="mailto:{{site.email}}" class="link link-mail link-red has-icon" aria-label="mail to {{site.email}}" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;{{site.name}}_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;{{site.email}}&quot;,&quot;type&quot;:&quot;Link&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;vertical tabs&quot;,&quot;context&quot;:&quot;Vertical Tabs Container \u003e Fraudulent SMS&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}}}">{{site.email}}</a>, include the suspicious phone number in the message.</p></div>
		</div>
		
	</div>

		
			
	<div class="js--vertical-tabs--content js--vertical-tabs--content-desktop c-vertical-tabs--content-desktop" id="c-vertical-tabs--content-desktop_vertical_tabs_contai2" role="tabpanel">
		
		
		<div class="c-vertical-tabs--copy-wrapper js--vertical-tabs--copy-wrapper " style="max-height: 85.6rem;">
			<h4 class="level4">Fraudulent Social Media Accounts Incl. WhatsApp</h4>
			<div class="has-rte"><ul class="list is-left has-no-padding">
 <li><span>The account is lacking a sign of verification (e.g. there is no blue badge).</span></li>
 <li><span>The account attempts to continue the communication over an encrypted channel such as Whatsapp or Telegram.</span></li>
 <li><span>The account is only a couple of weeks old.</span></li>
 <li><span>The account offers “free Visa”, “free flights” or to “double your investment”.</span></li>
 <li><span>The account does not make use of an adequate profile picture (DP/{{site.name}} Logo) and background picture.<br>
   &nbsp;</span></li>
</ul>
<ol class="list is-left has-no-padding">
 <li><span>Please report the social media account/post destination (URL) or phone number to&nbsp;<a href="mailto:{{site.email}}" class="link link-mail link-red has-icon" aria-label="mail to {{site.email}}" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;{{site.name}}_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;{{site.email}}&quot;,&quot;type&quot;:&quot;Link&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;vertical tabs&quot;,&quot;context&quot;:&quot;Vertical Tabs Container \u003e Fraudulent Social Media Accounts Incl. WhatsApp&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}}}">{{site.email}}</a>.<br></span></li>
 <li><span>If available, report the account/post directly to the social media channel as fraud.</span></li>
</ol></div>
		</div>
		
	</div>

		
			
	<div class="js--vertical-tabs--content js--vertical-tabs--content-desktop c-vertical-tabs--content-desktop" id="c-vertical-tabs--content-desktop_vertical_tabs_contai3" role="tabpanel">
		
		
		<div class="c-vertical-tabs--copy-wrapper js--vertical-tabs--copy-wrapper " style="max-height: 85.6rem;">
			<h4 class="level4">Hacked {{site.name}} Accounts</h4>
			<div class="has-rte"><p class="has-rte">If you receive unexpected messages alerting you over changes to your account, such as address changes or password reset notifications that were not triggered by yourself, it is possible that hackers are trying to take over your account.</p>
<ol class="list is-left has-no-padding">
 <li><span>Login to your account and change the password</span></li>
 <li><span>If you lost access, please report this incidence via&nbsp;<a  target="_self" class="link link-internal link-red has-icon" aria-label="contact our customer support " data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;{{site.name}}_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;customer support &quot;,&quot;type&quot;:&quot;Link&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;vertical tabs&quot;,&quot;context&quot;:&quot;Vertical Tabs Container \u003e Hacked {{site.name}} Accounts&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;{{site.name}}/components/elements/vertical-tabs-element&quot;}}}">customer support</a>&nbsp;&nbsp;</span></li>
</ol></div>
		</div>
		
	</div>

		</div>
		
	</div>
</div>

    
    
    <div class="container container-margin-bottom-fixed">

    
    
    
    <span class="link-anchor" id="parsysPath_container_803368964"></span>
    
    
    
    
        
    
        
    
        
    
    
    
    <div id="container-ea586e609a" class="cmp-container cmp-container--white
		 
		     
         cmp-container--gutter-21
         cmp-container--padding-size-0
         
         
         
         
         cmp-container--left-on-top
		 
         
		 
         
         ">
        


<div class="aem-Grid aem-Grid--12 aem-Grid--tablet--12 aem-Grid--default--12 aem-Grid--phone--12 ">
    
    <div class="title title-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_803368964_title"></span>



<div class="cmp-title" id="title-0963a8ea78">
     <h2 class="cmp-title__text cmp-title__text--level2">
		 
		 
			Fraudulent Use of the {{site.name}} Brand
		
	</h2>
</div>

    
</div>
<div class="separator separator-type-introduction separator-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_803368964_separator"></span>
<div class="cmp-separator" id="separator-445ca314a6">
	<hr class="cmp-separator__horizontal-rule">
</div>

    
</div>
<div class="text text-left text-default text-black text-margin-top aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn--phone--12 aem-GridColumn--tablet--none aem-GridColumn--default--9 aem-GridColumn aem-GridColumn--offset--phone--0 aem-GridColumn--offset--default--0"><span class="link-anchor" id="parsysPath_container_803368964_text"></span>




<div id="text-83f5032e08" class="cmp-text">
     <p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--large-body-copy">Attempts have been made to defraud Internet shoppers by the unauthorized use of the {{site.name}} name and brand via email communications and graphics which appear, on the surface, to have originated from {{site.name}}.</span></p>
<p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--large-body-copy">In most cases the communications concern the sale of consumer goods over the Internet where payment may be requested before the goods are delivered.</span></p>
<p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--large-body-copy">The only payments {{site.name}} requests via email or SMS are for customs duties and taxes. This process includes a safety measure where an OTP is sent to the consignee’s registered contact before processing the payment.</span></p>
<p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--large-body-copy">This security notice does not affect the obligation of a consignee to pay shipping, customs, VAT or similar charges, where these are properly payable at the time of delivery.</span></p>
<p class="cmp-text__inline-text cmp-text__inline-text--small-body-copy"><span class="cmp-text__inline-text cmp-text__inline-text--large-body-copy">{{site.name}} accepts no responsibility for any costs, charges or payments made which were improperly incurred as a result of fraudulent activity.</span></p>     
</div>

    
</div>

    
</div>

    </div>

    
</div>


</div>
{% endblock content %}