


{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="parsysPath parsys">




    
    
    



    <span class="link-anchor" id="parsysPath_page_headline_copy"></span>
    <div class="c-page-headline component-small has-rte 
    component-margin
    ">
        <div class="c-page-headline--wrapper">
            <h1 class="disable-soft-hyphen-text-fields level1  ">Investors</h1>
            
        </div>
        
    </div>
    
        
        
        
    
    
    
    <span class="link-anchor" id="parsysPath_iframe"></span>
    <div class="c-iframe component-margin  component-small "> 
        <div class="c-iframe--wrapper" style="height:126px;">
            <iframe title="Stock price of Deutsche Post AG" width="560" height="126" src="https://charts3.equitystory.com/teaser/deutsche-v31/English" allowfullscreen=""></iframe>
        </div>
    </div>
    
        
        
        
        
    <span class="link-anchor" id="parsysPath_horizontal_ruler_cop_1152510823"></span>
    <div class="c-horizontal-ruler component-margin 
     
    component-small l-grid l-grid--center-s invisible">
        <hr class="c-horizontal-ruler--wide">
    </div>
    
        
        
        
        
    <span class="link-anchor" id="parsysPath_horizontal_ruler_cop_1876369078"></span>
    <div class="c-horizontal-ruler component-margin 
     
    component-small l-grid l-grid--center-s invisible">
        <hr class="c-horizontal-ruler--wide">
    </div>
    
        
        
        
    
    
    
    <span class="link-anchor" id="parsysPath_text_image_copy"></span>
    <div class="c-text-image component-wide l-grid   component-margin">
        <div class="l-grid--w-60pc-m c-text-image--img-wrapper">
        <figure>
            <picture>
                <img class="c-text-generic--image" src="https://www.dhl.com/content/dam/deutschepostdhl/en/investors/text-generic-1592x896/DHL-Teaser-Equity-Story-1592x896.web.597.336.jpg" srcset="https://www.dhl.com/content/dam/deutschepostdhl/en/investors/text-generic-1592x896/DHL-Teaser-Equity-Story-1592x896.web.1194.672.jpg 2x" alt="Two DHL employees talking to each other.">
                
            </picture>
            
            
        </figure>
        
        </div>
        <div class="l-grid--w-100pc-s l-grid--w-40pc-m c-text-image--text-wrapper has-rte vertically-center ">
            <h2 class="level4">Connecting People, Improving Lives</h2>
            <div class="has-rte"><p class="has-rte">As global market leader in logistics, DHL Group offers structural GDP+ growth, significant cash flow generation and attractive shareholder returns – alongside a Sustainability Roadmap with concrete action plans and ambitious targets. &nbsp;</p>
    <p class="has-rte">Find out in more detail why you should invest in DHL Group. &nbsp;</p></div>
            <div class="c-text-image--button-container l-grid">
                
            </div>
        </div>
    </div>
    
        
        
        
        
    <span class="link-anchor" id="parsysPath_horizontal_ruler_cop_1779976662"></span>
    <div class="c-horizontal-ruler component-margin 
     
    component-small l-grid l-grid--center-s invisible">
        <hr class="c-horizontal-ruler--wide">
    </div>
    
        
        
        
        
    <span class="link-anchor" id="parsysPath_horizontal_ruler_cop"></span>
    <div class="c-horizontal-ruler component-margin 
     
    component-small l-grid l-grid--center-s invisible">
        <hr class="c-horizontal-ruler--wide">
    </div>
    
        
        
        
    
    
    <span class="link-anchor" id="parsysPath_text_generic_1539117115"></span>
    <div class="component-margin c-text-generic has-rte component-small ">
        <h2 class="l-grid--center-s  level2">
            Selected key figures
        </h2>
        
        
    </div>
    
        
        
        
    
    
    <span class="link-anchor" id="parsysPath_table_copy_copy_1357_1312170146"></span>
    <div class="c-table component-margin component-wide js--table">
        <h5 class="c-table--headline">
            
        </h5>
        <div class="c-table--container">
            <div class="has-rte"><p class="has-rte"></p>
    <table class="c-table--table">
     <tbody>
      <tr class="c-table--row js--table--row">
       <td>&nbsp;</td>
       <td>&nbsp;</td>
       <td align="right"><b>H1 2023</b></td>
       <td align="right"><b>H1 2024</b></td>
       <td align="right"><b>+/–%</b></td>
       <td align="right"><b>Q2 2023</b></td>
       <td align="right"><b>Q2 2024</b></td>
       <td align="right"><b>+/–%</b></td>
      </tr>
      <tr class="c-table--row js--table--row">
       <td>Revenue</td>
       <td align="right">€m</td>
       <td align="right">41,012</td>
       <td align="right" class="c-table--column-yellowlight">40,890</td>
       <td align="right">–0.3</td>
       <td align="right">20,094</td>
       <td align="right" class="c-table--column-yellowlight">20,639</td>
       <td align="right">2.7</td>
      </tr>
      <tr class="c-table--row js--table--row">
       <td>Profit from operating activities (EBIT)</td>
       <td align="right">€m</td>
       <td align="right">3,331</td>
       <td align="right" class="c-table--column-yellowlight">2,662</td>
       <td align="right">–20.1</td>
       <td align="right">1,693</td>
       <td align="right" class="c-table--column-yellowlight">1,351</td>
       <td align="right">–20.2</td>
      </tr>
      <tr class="c-table--row js--table--row">
       <td>Return on sales<span class="footnoteref"><span><sup><span><span><span><span><span><span><span class="js--table--footnoteref">1</span></span></span></span></span></span></span></sup></span></span></td>
       <td align="right">%</td>
       <td align="right">8.1</td>
       <td align="right" class="c-table--column-yellowlight">6.5</td>
       <td align="right">–</td>
       <td align="right">8.4</td>
       <td align="right" class="c-table--column-yellowlight">6.5</td>
       <td align="right">–</td>
      </tr>
      <tr class="c-table--row js--table--row">
       <td>EBIT after asset charge (EAC)</td>
       <td align="right">€m</td>
       <td align="right">1,607</td>
       <td align="right" class="c-table--column-yellowlight">830</td>
       <td align="right">–48.4</td>
       <td align="right">828</td>
       <td align="right" class="c-table--column-yellowlight">428</td>
       <td align="right">–48.3</td>
      </tr>
      <tr class="c-table--row js--table--row">
       <td>Consolidated net profit for the period<span><span class="footnoteref" title="Nach Abzug von nicht beherrschenden Anteilen"><span><sup><span><span><span><span><span><span><span class="js--table--footnoteref">2</span></span></span></span></span></span></span></sup></span></span></span></td>
       <td align="right">€m</td>
       <td align="right">1,889</td>
       <td align="right" class="c-table--column-yellowlight">1,484</td>
       <td align="right">–21.4</td>
       <td align="right">978</td>
       <td align="right" class="c-table--column-yellowlight">744</td>
       <td align="right">–23.9</td>
      </tr>
      <tr class="c-table--row js--table--row">
       <td>Free cash flow</td>
       <td align="right">€m</td>
       <td align="right">1,433</td>
       <td align="right" class="c-table--column-yellowlight">952</td>
       <td align="right">–33.6</td>
       <td align="right">450</td>
       <td align="right" class="c-table--column-yellowlight">344</td>
       <td align="right">–23.6</td>
      </tr>
      <tr class="c-table--row js--table--row">
       <td>Net debt<span class="footnoteref" title="Berechnung"><span><sup><span><span><span><span><span><span><span class="js--table--footnoteref">3</span></span></span></span></span></span></span></sup></span></span></td>
       <td align="right">€m</td>
       <td align="right">17,739</td>
       <td align="right" class="c-table--column-yellowlight">19,885</td>
       <td align="right">12.1</td>
       <td align="right">–</td>
       <td align="right" class="c-table--column-yellowlight">–</td>
       <td align="right">–</td>
      </tr>
      <tr class="c-table--row js--table--row">
       <td>Earnings per share<span class="footnoteref" title="Unverwässert"><span><sup><span><span><span><span><span><span><span class="js--table--footnoteref">4</span></span></span></span></span></span></span></sup></span></span></td>
       <td align="right">€</td>
       <td align="right">1.58</td>
       <td align="right" class="c-table--column-yellowlight">1.27</td>
       <td align="right">–19.6</td>
       <td align="right">0.82</td>
       <td align="right" class="c-table--column-yellowlight">0.64</td>
       <td align="right">–22.0</td>
      </tr>
      <tr class="c-table--row js--table--row">
       <td>Number of employees<span class="footnoteref"><span><sup><span><span><span><span><span><span><span class="js--table--footnoteref">5</span></span></span></span></span></span></span></sup></span></span></td>
       <td align="right">&nbsp;</td>
       <td align="right">586,404</td>
       <td align="right" class="c-table--column-yellowlight">591,172</td>
       <td align="right">0.8</td>
       <td align="right">–</td>
       <td align="right" class="c-table--column-yellowlight">–</td>
       <td align="right">–</td>
      </tr>
     </tbody>
    </table>
    <p class="has-rte"></p></div>
        </div>
        <div class="c-table--footnote js--table--footnote">
            <dl>
                <dt>1</dt>
                <dd>EBIT / revenue.</dd>
            
                <dt class="">2</dt>
                <dd class="">After deduction of noncontrolling interests.</dd>
            
                <dt class="">3</dt>
                <dd class="">Prior-year figure as of December 31.</dd>
            
                <dt class="">4</dt>
                <dd class="">Basic earnings per share. </dd>
            
                <dt class="">5</dt>
                <dd class="">Headcount at the end of the quarter, including trainees.</dd>
            </dl>
        </div>
    </div>
    
        
        
        
    
    
    
    
    <div class="c-cta component-margin  component-wide l-grid l-grid--center-s">
        
    
    
    
    
    <a href="/en/investors/key-figures.html#parsysPath_text_generic" class="base-button  base-button--wide" aria-label="go to chart generator" data-analytics="{&quot;trackedInteractions&quot;:&quot;basic&quot;,&quot;interactionType&quot;:&quot;dhl_utf_contentInteraction&quot;,&quot;content&quot;:{&quot;name&quot;:&quot;Chart_generator&quot;,&quot;type&quot;:&quot;Button&quot;,&quot;interaction&quot;:&quot;Click&quot;,&quot;position&quot;:&quot;Index&quot;,&quot;context&quot;:&quot;CTA Container&quot;,&quot;attributes&quot;:{&quot;component&quot;:&quot;dhl/components/elements/cta-element&quot;}}}">
        <span>View chart generator</span>
    </a>
    </div>
    
        
        
        
        
    <span class="link-anchor" id="parsysPath_horizontal_ruler_cop_810786266"></span>
    <div class="c-horizontal-ruler component-margin 
     
    component-small l-grid l-grid--center-s invisible">
        <hr class="c-horizontal-ruler--wide">
    </div>
    
        
        
        
        
    <span class="link-anchor" id="parsysPath_horizontal_ruler_cop_879866352"></span>
    <div class="c-horizontal-ruler component-margin 
     
    component-small l-grid l-grid--center-s invisible">
        <hr class="c-horizontal-ruler--wide">
    </div>
    
        
        
        
    
    
    <span class="link-anchor" id="parsysPath_text_generic_2188886_714144551"></span>
    <div class="c-text-generic has-rte component-small l-grid--left-s l-grid--center-m">
        <h2 class="l-grid--center-s  level2">
            Financial news
        </h2>
        
        
            <div class="has-rte"><p class="has-rte"><br></p></div>
        
    </div>
    
        
        
        
    
    
    
    
    <span class="link-anchor" id="parsysPath_smart_grid_copy_copy_1477234142"></span>
    <div id="smart-grid-d1eadb235e" class="c-smartgrid js--c-smartgrid component-wide" data-results-label="Results" data-smart-content-config="{&quot;componentName&quot;:&quot;smart-grid&quot;,&quot;taggroups&quot;:{&quot;pageownerns&quot;:{&quot;title&quot;:&quot;Page Owner&quot;},&quot;pagetypens&quot;:{&quot;title&quot;:&quot;Page Type&quot;},&quot;sgyearns&quot;:{&quot;title&quot;:&quot;Year&quot;},&quot;sglocationns&quot;:{&quot;title&quot;:&quot;Location&quot;},&quot;sginnovationareans&quot;:{&quot;title&quot;:&quot;Innovation Area&quot;},&quot;sgtopicsns&quot;:{&quot;title&quot;:&quot;Topics&quot;},&quot;sgmonthns&quot;:{&quot;title&quot;:&quot;Month&quot;},&quot;sgcontenttypens&quot;:{&quot;title&quot;:&quot;Content Type&quot;},&quot;sgmslocationns&quot;:{&quot;title&quot;:&quot;Press Office&quot;},&quot;sgissuens&quot;:{&quot;title&quot;:&quot;Issue&quot;},&quot;sghistoryns&quot;:{&quot;title&quot;:&quot;History&quot;}}}">
      <div class="l-grid--w-100pc-s l-grid">
        <form  >
          
            <input type="hidden" value="deutschepostdhl:smart-grid/page-owner/media" name="pageownerns" data-id="pageownerns-0" id="smart-grid-d1eadb235e-pageownerns-0">
          
          
            <input type="hidden" value="deutschepostdhl:smart-grid/page-type/press-release" name="pagetypens" data-id="pagetypens-0" id="smart-grid-d1eadb235e-pagetypens-0">
          
          <!-- SMARTGRID FILTER -->
          <div class="c-smartgrid-filter  l-grid l-grid--w-100pc-s">
            <!-- filter: true  show this html, filter: false, remove -->
            <ul class="c-smartgrid-filter--list js--smartgrid-filter--list l-grid l-grid--w-100pc-s l-grid--nowrap-m">
        <li class="l-grid c-smartgrid-filter--category js--smartgrid-filter--category">
            
            <button aria-controls="xym4m3j0w8vjywqs" aria-expanded="false" class="js-smartgrid-filter--dropdown c-smartgrid-filter--dropdown has-icon" type="button">Year</button>
            <div class="c-smartgrid-filter--container">
                <ul aria-label="Year" aria-multiselectable="true" class="l-grid" data-category="" role="listbox" id="xym4m3j0w8vjywqs">
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2018-86446a66-5072-488d-84ad-aabf797de553" value="deutschepostdhl:smart-grid/year/2018" name="sgyearns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2018-86446a66-5072-488d-84ad-aabf797de553" tabindex="0" aria-selected="false" role="option">2018</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2019-b3b48379-7784-4b48-8690-086ec31e2d09" value="deutschepostdhl:smart-grid/year/2019" name="sgyearns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2019-b3b48379-7784-4b48-8690-086ec31e2d09" tabindex="0" aria-selected="false" role="option">2019</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2020-986ceb60-2fd4-42bc-91f5-bdc38b70a410" value="deutschepostdhl:smart-grid/year/2020" name="sgyearns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2020-986ceb60-2fd4-42bc-91f5-bdc38b70a410" tabindex="0" aria-selected="false" role="option">2020</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2021-b83481a8-7416-4427-911d-2d39d339f0c5" value="deutschepostdhl:smart-grid/year/2021" name="sgyearns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2021-b83481a8-7416-4427-911d-2d39d339f0c5" tabindex="0" aria-selected="false" role="option">2021</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2022-1aa4ae6f-0525-41c0-8310-74b0a9b3156e" value="deutschepostdhl:smart-grid/year/2022" name="sgyearns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2022-1aa4ae6f-0525-41c0-8310-74b0a9b3156e" tabindex="0" aria-selected="false" role="option">2022</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2023-637ed143-a29d-45d3-b253-c651f5a95c76" value="deutschepostdhl:smart-grid/year/2023" name="sgyearns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2023-637ed143-a29d-45d3-b253-c651f5a95c76" tabindex="0" aria-selected="false" role="option">2023</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2024-7332de1e-3cdb-4607-9703-4d779340bdf2" value="deutschepostdhl:smart-grid/year/2024" name="sgyearns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-year-2024-7332de1e-3cdb-4607-9703-4d779340bdf2" tabindex="0" aria-selected="false" role="option">2024</label>
                    </li>
                    <a title="Close" class="c-smartgrid-filter-close icon-cancel js--smartgrid-filter-close" href="#"></a>
                </ul>
            </div>
        </li>
        <li class="l-grid c-smartgrid-filter--category js--smartgrid-filter--category">
            
            <button aria-controls="wjj8jsuh0befyra8" aria-expanded="false" class="js-smartgrid-filter--dropdown c-smartgrid-filter--dropdown has-icon" type="button">Month</button>
            <div class="c-smartgrid-filter--container">
                <ul aria-label="Month" aria-multiselectable="true" class="l-grid" data-category="" role="listbox" id="wjj8jsuh0befyra8">
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-january-b9dcd4fa-22d5-49b6-8680-b1147d6d7cf4" value="deutschepostdhl:smart-grid/month/january" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-january-b9dcd4fa-22d5-49b6-8680-b1147d6d7cf4" tabindex="0" aria-selected="false" role="option">01 January</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-february-0ce31305-fced-4fa7-9c07-71cefcf7d269" value="deutschepostdhl:smart-grid/month/february" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-february-0ce31305-fced-4fa7-9c07-71cefcf7d269" tabindex="0" aria-selected="false" role="option">02 February</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-march-c84cd3e9-30ee-40c5-a3b1-69def6ee9d98" value="deutschepostdhl:smart-grid/month/march" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-march-c84cd3e9-30ee-40c5-a3b1-69def6ee9d98" tabindex="0" aria-selected="false" role="option">03 March</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-april-23c444a3-f408-4c7e-8dee-4f1373bf9c24" value="deutschepostdhl:smart-grid/month/april" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-april-23c444a3-f408-4c7e-8dee-4f1373bf9c24" tabindex="0" aria-selected="false" role="option">04 April</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-may-eb065873-c13a-4260-87c4-9a308ee077eb" value="deutschepostdhl:smart-grid/month/may" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-may-eb065873-c13a-4260-87c4-9a308ee077eb" tabindex="0" aria-selected="false" role="option">05 May</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-june-b494fb63-211e-4f07-943d-de9c7de6266f" value="deutschepostdhl:smart-grid/month/june" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-june-b494fb63-211e-4f07-943d-de9c7de6266f" tabindex="0" aria-selected="false" role="option">06 June</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-july-ec39cc07-c083-4826-a1d5-502f37cee617" value="deutschepostdhl:smart-grid/month/july" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-july-ec39cc07-c083-4826-a1d5-502f37cee617" tabindex="0" aria-selected="false" role="option">07 July</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-august-0033026e-7873-4aac-b07b-50696fb6c6ea" value="deutschepostdhl:smart-grid/month/august" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-august-0033026e-7873-4aac-b07b-50696fb6c6ea" tabindex="0" aria-selected="false" role="option">08 August</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-september-c72a711a-866e-4041-b0d7-cf30f96bca12" value="deutschepostdhl:smart-grid/month/september" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-september-c72a711a-866e-4041-b0d7-cf30f96bca12" tabindex="0" aria-selected="false" role="option">09 September</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-october-6c9df053-2aa6-4636-b281-78eb982db678" value="deutschepostdhl:smart-grid/month/october" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-october-6c9df053-2aa6-4636-b281-78eb982db678" tabindex="0" aria-selected="false" role="option">10 October</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-november-65c7d337-7034-4e8f-8e17-031af6c88a2e" value="deutschepostdhl:smart-grid/month/november" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-november-65c7d337-7034-4e8f-8e17-031af6c88a2e" tabindex="0" aria-selected="false" role="option">11 November</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-december-96a11a8f-c189-4fd1-8895-fbff9db00c6e" value="deutschepostdhl:smart-grid/month/december" name="sgmonthns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-month-december-96a11a8f-c189-4fd1-8895-fbff9db00c6e" tabindex="0" aria-selected="false" role="option">12 December</label>
                    </li>
                    <a title="Close" class="c-smartgrid-filter-close icon-cancel js--smartgrid-filter-close" href="#"></a>
                </ul>
            </div>
        </li>
        <li class="l-grid c-smartgrid-filter--category js--smartgrid-filter--category">
            
            <button aria-controls="my375wobc7cp8dc2" aria-expanded="false" class="js-smartgrid-filter--dropdown c-smartgrid-filter--dropdown has-icon" type="button">Topics</button>
            <div class="c-smartgrid-filter--container">
                <ul aria-label="Topics" aria-multiselectable="true" class="l-grid" data-category="" role="listbox" id="my375wobc7cp8dc2">
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-all-press-releases-0bb55a9b-dbae-4a65-9d4b-8372a64e3c6c" value="deutschepostdhl:smart-grid/topics/all-press-releases" name="sgtopicsns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-all-press-releases-0bb55a9b-dbae-4a65-9d4b-8372a64e3c6c" tabindex="0" aria-selected="false" role="option">All press releases</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-express-4b424062-3715-4f5c-9df3-445a6aec4deb" value="deutschepostdhl:smart-grid/topics/express" name="sgtopicsns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-express-4b424062-3715-4f5c-9df3-445a6aec4deb" tabindex="0" aria-selected="false" role="option">Express</label>
                    </li>
                    <li>
                        <input checked="" class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-financial-news-d623d87e-48c4-4940-9332-e30571bbdaed" value="deutschepostdhl:smart-grid/topics/financial-news" name="sgtopicsns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-financial-news-d623d87e-48c4-4940-9332-e30571bbdaed" tabindex="0" aria-selected="true" role="option">Financial news</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-global-forwarding-ec9069ae-1129-40e4-ae49-69e41c58daf1" value="deutschepostdhl:smart-grid/topics/global-forwarding" name="sgtopicsns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-global-forwarding-ec9069ae-1129-40e4-ae49-69e41c58daf1" tabindex="0" aria-selected="false" role="option">Global Forwarding Freight</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-post-ecommerce-parcel-e0a64c06-b7eb-4ca7-8231-aaf098b0fa19" value="deutschepostdhl:smart-grid/topics/post-ecommerce-parcel" name="sgtopicsns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-post-ecommerce-parcel-e0a64c06-b7eb-4ca7-8231-aaf098b0fa19" tabindex="0" aria-selected="false" role="option">Post &amp; Parcel Germany</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-supply-chain-df083782-7d11-4f1f-95d7-f0886fe49dee" value="deutschepostdhl:smart-grid/topics/supply-chain" name="sgtopicsns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-supply-chain-df083782-7d11-4f1f-95d7-f0886fe49dee" tabindex="0" aria-selected="false" role="option">Supply Chain</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-responsibility-b2021f09-9a08-48b2-b5e4-253a60ff1044" value="deutschepostdhl:smart-grid/topics/responsibility" name="sgtopicsns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-responsibility-b2021f09-9a08-48b2-b5e4-253a60ff1044" tabindex="0" aria-selected="false" role="option">Sustainability</label>
                    </li>
                    <li>
                        <input class="c-smartgrid-filter--list-item-checkbox js--smartgrid-filter---list-item js--smartgrid--new-query" id="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-ecommerce-solutions-3c38dbf2-2daa-4058-8ab6-a39adc71a2cf" value="deutschepostdhl:smart-grid/topics/ecommerce-solutions" name="sgtopicsns" type="checkbox" tabindex="-1">
                        <label class="c-smartgrid-filter--list-item  js--smartgrid-filter--list-item" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-ecommerce-solutions-3c38dbf2-2daa-4058-8ab6-a39adc71a2cf" tabindex="0" aria-selected="false" role="option">eCommerce</label>
                    </li>
                    <a title="Close" class="c-smartgrid-filter-close icon-cancel js--smartgrid-filter-close" href="#"></a>
                </ul>
            </div>
        </li>
    </ul>
    
              <div class="c-smartgrid-filter--selected-list js-smartgrid-filter--selected-list l-grid l-grid--w-100pc-s">
                  <!-- filter: true  show this html, filter: false, remove, add right-m class to toolbar if there are no tags -->
                  <ul class="js-smartgrid-filter-selected c-smartgrid-filter--selected-wrapper l-grid--w-100pc-s l-grid--w-66pc-m"><li class="js--smartgrid-filter--keep c-smartgrid-filter--reset-wrapper">
                  <button type="button" class="c-smartgrid-filter--reset icon-reset-clear has-icon js--smartgrid-type-reset"></button></li><label class="c-smartgrid-filter--list-item js--smartgrid-filter--list-item is-active has-icon" for="smartgrid-filter--list-item--deutschepostdhl-smart-grid-topics-financial-news-d623d87e-48c4-4940-9332-e30571bbdaed" tabindex="0" aria-label="Remove filter:Financial news">Financial news</label></ul>
    
                   <div class=" c-smartgrid-filter--list c-smartgrid-filter--toolbar  l-grid">
                      <div class="c-smartgrid--form">
                          <input type="search" name="q" id="smart-grid-d1eadb235e-q" data-id="q" class="c-smartgrid--input " autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Search for financial news">
                          <button type="submit" class="c-smartgrid--icon-submit base-button l-grid l-grid--center-s "><span class="has-icon c-smartgrid--icon-submit "></span></button>
                      </div>
                  </div>
              </div>
          </div>
          <input type="hidden" name="datasourceName" data-id="datasourceName" id="smart-grid-d1eadb235e-datasourceName" value="datasources/93c2ff7870ab816546e1191d17b21fe8">
          <input type="hidden" name="applicationId" data-id="applicationId" id="smart-grid-d1eadb235e-applicationId" value="searchapplications/93c2ff7870ab8165e6650db4f0ad4f2d">
          <input type="hidden" name="collectionName" data-id="collectionName" id="smart-grid-d1eadb235e-collectionName" value="dhl-deutschepostdhl-prod-en">
          <input type="hidden" name="lang" data-id="lang" id="smart-grid-d1eadb235e-lang" value="en">
          <input type="hidden" value="smart" name="type" data-id="type" id="smart-grid-d1eadb235e-type">
          <input type="hidden" value="3" name="start" data-id="start" id="smart-grid-d1eadb235e-start">
          <input type="hidden" value="smart-grid-d1eadb235e" name="instanceId" data-id="instanceId" id="smart-grid-d1eadb235e-instanceId">
          <input type="hidden" value="3" name="num" data-id="num" id="smart-grid-d1eadb235e-num">
        </form>
        <div class="c-smartgrid-type--wrapper component-wide l-grid l-grid--right-s">
            <!-- show view toggle, just remove it author don't want to show it. set is-active class for the selected view  -->
            <div class="c-smartgrid-type--button-group">
                <button type="button" class="js--smartgrid-type-grid base-button is-active">
                    
                    <span class="has-icon c-smartgrid-type--tile-icon"></span>
                </button>
                <button type="button" class="js--smartgrid-type-list base-button ">
                    
                    <span class="has-icon c-smartgrid-type--list-icon "></span>
                </button>
            </div>
        </div>
        <div class="c-smartgrid--total js--smartgrid--total" aria-live="polite"><p>73 Results</p>
    </div>
        <div class="c-smartgrid--wrapper js--smartgrid--results  c-smartgrid--grid-view l-grid l-grid--w-100pc-s"><article class="c-teaser-image--item shadow-small c-teaser-image--long-date-container c-smartgrid--position-1" style="opacity: 1;">
            <a target="_blank" title="" href="https://group.dhl.com/en/media-relations/press-releases/2024/strategy-2030-dhl-group-to-accelerate-sustainable-growth-with-new-strategy-2030.html" class="l-grid--w-100pc-s">
                
                    <div class="c-teaser-image--image l-grid--w-100pc-s">
                        <picture class="l-grid">
                            <img alt="The Group's Board of Management" src="https://www.dhl.com/content/dam/deutschepostdhl/en/smart-grid-press-1375x504/press-releases/2024/dhl-group-bom-strategy-2030.web.648.366.jpg" class="c-smartgrid--item-image">
                        </picture>
                    </div>
                <div class="c-teaser-image--textbox l-grid--w-100pc-s l-grid--p-2u-s l-grid--left-m">
                    <div class="l-grid--w-100pc">
                            <div class="c-teaser-image--meta-data-wrapper c-teaser-image--meta-data-wrapper-long-date">
                                <p class="c-smartgrid--item-date">09/23/2024, 06:25 PM CEST</p>
                                <p class="c-smartgrid--item-badge">
                                        FINANCIAL NEWS
                                </p>
                            </div>
                            <h4 class="c-teaser-image--textbox-headline level4">{{site.name}}Group to accelerate sustainable growth with new Strategy 2030</h4>
                        <div class="c-teaser-image--textbox-copy l-grid--w-100pc-s color-grey1">
                            <p>With "Strategy 2030 - Accelerate Sustainable Growth" the company aims to unlock its full growth potential through divisional and Group growth initiatives.</p>
                        </div>
    
                    </div>
                </div>
            </a>
        </article><article class="c-teaser-image--item shadow-small c-teaser-image--long-date-container c-smartgrid--position-2" style="opacity: 1;">
            <a target="_blank" title="" href="https://group.dhl.com/en/media-relations/press-releases/2024/dhl-group-financial-figures-h1-2024.html" class="l-grid--w-100pc-s">
                
                    <div class="c-teaser-image--image l-grid--w-100pc-s">
                        <picture class="l-grid">
                            <img alt="The Group's headquarters" src="https://www.dhl.com/content/dam/deutschepostdhl/en/smart-grid-press-1375x504/press-releases/2023/posttower-dhlgroup-1375x504.web.648.366.jpg" class="c-smartgrid--item-image">
                        </picture>
                    </div>
                <div class="c-teaser-image--textbox l-grid--w-100pc-s l-grid--p-2u-s l-grid--left-m">
                    <div class="l-grid--w-100pc">
                            <div class="c-teaser-image--meta-data-wrapper c-teaser-image--meta-data-wrapper-long-date">
                                <p class="c-smartgrid--item-date">08/01/2024, 07:00 AM CEST</p>
                                <p class="c-smartgrid--item-badge">
                                        FINANCIAL NEWS
                                </p>
                            </div>
                            <h4 class="c-teaser-image--textbox-headline level4">{{site.name}}Group meets market expectations in the second quarter</h4>
                        <div class="c-teaser-image--textbox-copy l-grid--w-100pc-s color-grey1">
                            <p>Group revenue up slightly year on year in the second quarter of 2024 at EUR 20.6 billion; operating profit (EBIT) of EUR 1.35 billion as expected below prior-year figure, but significantly above pre-pandemic level.</p>
                        </div>
    
                    </div>
                </div>
            </a>
        </article><article class="c-teaser-image--item shadow-small c-teaser-image--long-date-container c-smartgrid--position-3" style="opacity: 1;">
            <a target="_blank" title="" href="https://group.dhl.com/en/media-relations/press-releases/2024/dhl-group-financial-figures-q1-2024.html" class="l-grid--w-100pc-s">
                
                    <div class="c-teaser-image--image l-grid--w-100pc-s">
                        <picture class="l-grid">
                            <img alt="The Group's headquarters" src="https://www.dhl.com/content/dam/deutschepostdhl/en/smart-grid-press-1375x504/press-releases/2023/posttower-dhlgroup-1375x504.web.648.366.jpg" class="c-smartgrid--item-image">
                        </picture>
                    </div>
                <div class="c-teaser-image--textbox l-grid--w-100pc-s l-grid--p-2u-s l-grid--left-m">
                    <div class="l-grid--w-100pc">
                            <div class="c-teaser-image--meta-data-wrapper c-teaser-image--meta-data-wrapper-long-date">
                                <p class="c-smartgrid--item-date">05/07/2024, 07:00 AM CEST</p>
                                <p class="c-smartgrid--item-badge">
                                        FINANCIAL NEWS
                                </p>
                            </div>
                            <h4 class="c-teaser-image--textbox-headline level4">{{site.name}}Group gets off to a solid start in 2024</h4>
                        <div class="c-teaser-image--textbox-copy l-grid--w-100pc-s color-grey1">
                            <p>Group revenue in the first quarter of 2024 almost stable at EUR 20.3 billion; operating profit (EBIT) of EUR 1.3 billion as expected below previous year’s level, but above pre-pandemic level.</p>
                        </div>
    
                    </div>
                </div>
            </a>
        </article><div class="l-grid l-grid--w-100pc-s l-grid--center-s c-smartgrid--loadmore-wrapper js--smartgrid--loadmore">
         <button data-smartgrid-pagination-tracking="{&quot;component&quot;:&quot;dhl/components/general/smart-grid&quot;}" aria-label="Load more" class="base-button c-smartgrid--loadmore js--smartgrid--loadmore--item component-wide" type="button">
             <span>Load more</span>
         </button>
     </div></div>
      </div>
    <div class="js--waiting c-waiting" id="#smart-grid-d1eadb235e" style="opacity: 0; display: none;"></div></div>
    
    
        
        
        
        
    <span class="link-anchor" id="parsysPath_horizontal_ruler"></span>
    <div class="c-horizontal-ruler component-margin 
     
    component-small l-grid l-grid--center-s invisible">
        <hr class="c-horizontal-ruler--wide">
    </div>
    
        
        
        
    
    
    <span class="link-anchor" id="parsysPath_text_generic"></span>
    <div class="c-text-generic has-rte component-small l-grid--left-s l-grid--center-m">
        <h2 class="l-grid--center-s  level2">
            Corporate Newsletter
        </h2>
        
        
            <div class="has-rte"><p class="has-rte">Our corporate newsletter keeps you informed about important information about DHL Group.</p></div>
        
    </div>
    
        
        
        
    
    
    
    <span class="link-anchor" id="parsysPath_iconlist_container_c"></span>
    <div class=" c-icon-list l-grid l-grid l-grid--center-m">
        
        
        
        
        
        <div class="c-icon-list--container l-grid l-grid--w-100pc-s l-grid--center-s l-grid--center-m">
            
    
    
    
    
    
    
    <a href="/en/media-relations/subscriptions/corporate-newsletter.html" class="c-icon-list--item" target="_blank" aria-label="Subscribe to Newsletter" aria-describedby="a11y-message--new-window " data-tracking="{&quot;component&quot;:&quot;dhl/components/elements/iconlist-element&quot;}" rel="noopener noreferrer">
        <div class="c-icon-list--icon">
            <img src="https://www.dhl.com/content/dam/deutschepostdhl/en/investors/icons/newsletter.png" alt="Newsletter">
            
        </div>
        <span class="c-icon-list--icon-headline ">
            Subscribe to Newsletter
        </span>
    </a>
    
        </div>
        
    </div>
    
        
        
        
    
    
    
    <span class="link-anchor" id="parsysPath_teaser_image_contain"></span>
    <div class="c-teaser-image component-wide component-margin">
        
        <div class="component-wide l-grid--w-100pc-s">
            
            
            
        </div>	
        <div class="c-teaser-image--content l-grid l-grid--center-m">
            
    
    
    
    
    <div class="c-teaser-image--item shadow-small">
        <div class="c-teaser-image--image">
            <picture>
                <img src="https://www.dhl.com/content/dam/deutschepostdhl/en/investors/teaser-image-1200x588/ir-team-1200x588.web.343.168.png" srcset="https://www.dhl.com/content/dam/deutschepostdhl/en/investors/teaser-image-1200x588/ir-team-1200x588.web.686.336.png 2x" alt="IR team icon">
                
            </picture>
        </div>
        <div class="c-teaser-image--textbox has-rte l-grid--w-100pc-s l-grid--p-2u-s ">
            <div class="c-teaser-image--textbox-body">
                <h4 class="c-teaser-image--textbox-body-headline-normal level5">
                    
                    <a href="/en/investors/ir-team.html" class="disable-soft-hyphen-text-fields c-teaser-image--headline-link link link-red link-internal has-icon l-grid l-grid--w-100pc-s" data-tracking="{&quot;component&quot;:&quot;dhl/components/elements/teaser-image-element&quot;}">
                        <span>IR team</span>
                    </a>
                </h4>
                
                
                
                
                <div class="has-rte"><p class="has-rte">Inquiries regarding Deutsche Post shares and other capital market related questions will be answered by the team members of Investor Relations. We trust you will understand that Investor Relations can only reply to these themes.</p></div>
            </div>
            <div class="c-teaser-image--button-wrapper l-grid">
                
                
            </div>
        </div>
    </div>
    
    
    
    
    <div class="c-teaser-image--item shadow-small">
        <div class="c-teaser-image--image">
            <picture>
                <img src="https://www.dhl.com/content/dam/deutschepostdhl/en/investors/teaser-image-1200x588/download-center-1200x588.web.343.168.jpg" srcset="https://www.dhl.com/content/dam/deutschepostdhl/en/investors/teaser-image-1200x588/download-center-1200x588.web.686.336.jpg 2x" alt="IR Download Center icon">
                
            </picture>
        </div>
        <div class="c-teaser-image--textbox has-rte l-grid--w-100pc-s l-grid--p-2u-s ">
            <div class="c-teaser-image--textbox-body">
                <h4 class="c-teaser-image--textbox-body-headline-normal level5">
                    
                    <a href="/en/investors/ir-download-center.html" class="disable-soft-hyphen-text-fields c-teaser-image--headline-link link link-red link-internal has-icon l-grid l-grid--w-100pc-s" data-tracking="{&quot;component&quot;:&quot;dhl/components/elements/teaser-image-element&quot;}">
                        <span>IR Download Center</span>
                    </a>
                </h4>
                
                
                
                
                <div class="has-rte"><p class="has-rte">In our Download Center you find the financial reports, presentations as well as statbooks.</p></div>
            </div>
            <div class="c-teaser-image--button-wrapper l-grid">
                
                
            </div>
        </div>
    </div>
    
    
    
    
    <div class="c-teaser-image--item shadow-small">
        <div class="c-teaser-image--image">
            <picture>
                <img src="https://www.dhl.com/content/dam/deutschepostdhl/en/investors/teaser-image-1200x588/shareholder-portal-1200x588.web.343.168.png" srcset="https://www.dhl.com/content/dam/deutschepostdhl/en/investors/teaser-image-1200x588/shareholder-portal-1200x588.web.686.336.png 2x" alt="Shareholder poral icon">
                
            </picture>
        </div>
        <div class="c-teaser-image--textbox has-rte l-grid--w-100pc-s l-grid--p-2u-s ">
            <div class="c-teaser-image--textbox-body">
                <h4 class="c-teaser-image--textbox-body-headline-normal level5">
                    
                    <a href="/en/investors/annual-general-meeting/share-register-service.html" class="disable-soft-hyphen-text-fields c-teaser-image--headline-link link link-red link-internal has-icon l-grid l-grid--w-100pc-s" data-tracking="{&quot;component&quot;:&quot;dhl/components/elements/teaser-image-element&quot;}">
                        <span>Shareholder portal</span>
                    </a>
                </h4>
                
                
                
                
                <div class="has-rte"><p class="has-rte">Shareholders of Deutsche Post AG can easily review and, if necessary, update their address details entered in the share register of Deutsche Post AG.</p></div>
            </div>
            <div class="c-teaser-image--button-wrapper l-grid">
                
                
            </div>
        </div>
    </div>
        </div>
    </div>
    
    </div>
{% endblock content %}