<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="{% static '/js/tailwin plugin.js'%}"></script>
    
    <script src="{% static '/js/main.js'%}"></script>
    <script src="{% static '/js/ajax.js'%}" defer></script>
</head>
<body>
    <div class="w-full h-screen flex items-center justify-center bg-indigo-100">
      <form class="w-full md:w-1/3 rounded-lg" method="post">
        {% csrf_token %}
        <div class="flex font-bold justify-center mt-6">
          <b class="text-[34px]">ADMIN</b>
        </div>
        <h2 class="text-2xl text-center text-gray-200 mb-8">Login</h2>
        <div class="px-12 pb-10">
          <div class="w-full mb-2">
            <div class="flex items-center">
              <input
                type="text"
                placeholder="Email Address"
                class="
                  w-full
                  border
                  rounded
                  px-3
                  py-2
                  text-gray-700
                  focus:outline-none
                " name="username"
              />
            </div>
          </div>
          <div class="w-full mb-2">
            <div class="flex items-center">
              <input
                type="password"
                placeholder="Password" name="pwds"
                class="
                  w-full
                  border
                  rounded
                  px-3
                  py-2
                  text-gray-700
                  focus:outline-none
                "
              />
            </div>
          </div>
          <button
            type="submit"
            class="
              w-full
              py-2
              mt-8
              rounded-full
              bg-blue-400
              text-gray-100
              focus:outline-none
            "
          >
            Login
          </button>
        </div>
        <a href="/" class=" w-full
        py-2
        mt-8
        rounded-full
        bg-blue-400
        text-gray-100
        focus:outline-none m-4">HOME</a>
    </form>
    </div>
</body>
</html>